<%= form_for(@baseball) do |f| %>
  <% if @baseball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baseball.errors.count, "error") %> prohibited this baseball from being saved:</h2>

      <ul>
      <% @baseball.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_area :position %>
  </div>
  <div class="field">
    <%= f.label :batting_average %><br>
    <%= f.text_field :batting_average %>
  </div>
  <div class="field">
    <%= f.label :is_free_agent %><br>
    <%= f.check_box :is_free_agent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
