<p id="notice"><%= notice %></p>

<h1>Listing Baseball Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Batting Average</th>
      <th>Free Agent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baseballs.each do |baseball| %>
      <tr>
        <td><%= baseball.name %></td>
        <td><%= baseball.age %></td>
        <td><%= baseball.position %></td>
        <td><%= format_batting_average baseball.batting_average %></td>
        <td><%= baseball.is_free_agent %></td>
        <td><%= link_to 'Show', baseball %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_baseball_path(baseball) %></td>
          <td><%= link_to 'Destroy', baseball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Baseball Player', new_baseball_path %>
<% end %>
